/* src/Componentes/Styles/VerProducto.css */
.ver-producto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black; /* Ajuste de color de texto para mejor contraste */
  min-height: 100vh; /* Asegura que el contenedor llene la pantalla verticalmente */
  padding: 20px; /* Añade un padding alrededor del contenedor */
  width: 100%;
}

.producto-detalle {
  display: flex;
  align-items: flex-start;
  background-color: lightgray; /* Fondo oscuro para mejor contraste */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%; /* Aumenta el ancho del contenedor */
  max-width: 800px; /* Limita el ancho máximo */
  margin: 20px auto; /* Centra el contenedor horizontalmente */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas pequeñas */
}

.imagen-container {
  flex: 1;
  max-width: 300px; /* Limita el ancho máximo de la imagen */
  margin-right: 20px; /* Espacio entre la imagen y los detalles */
}

.detalle-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%; /* Ajusta el ancho del contenedor de detalles */
}

.producto-detalle img {
  width: 100%; /* Ajusta el tamaño de la imagen al 100% del contenedor */
  height: auto; /* Mantiene la relación de aspecto de la imagen */
  object-fit: contain; /* Contiene la imagen sin recortarla */
  margin-bottom: 20px;
}

.producto-detalle p {
  text-align: left; /* Alinea el texto a la izquierda */
  margin: 5px 0; /* Margen entre los párrafos */
  width: 100%; /* Asegura que el texto ocupe todo el ancho disponible */
}

.producto-detalle strong {
  display: inline-block;
  width: 30%; /* Ancho del texto en negrita para una alineación consistente */
}

.ver-producto-container h2 {
  color: black; /* Ajusta el color del texto */
  text-align: left; /* Centra el título */
  background-color: #f5f5f5;
  width: calc(100% - 100px); /* Ajusta el ancho del título */
  font-weight: bold;
  margin: 30px 0;
  padding: 20px;
  font-size: 20px;
}
