.pedidoCompledo{
    font-family: Arial, Helvetica, sans-serif;
}
.pedidoCompledo h2, .pedidoCompledo h4{
    text-align: center;
}
.pedidoCompledo h2{
    margin-top: 30px;
}
.pedidoCompledo h3{
    max-width: 1000px;
    margin: auto;
}
#itemDisplay{
    display: flex;
    max-width: 1000px;
    margin: auto;
} 
#item{
    max-width: 200px;
    margin-left: 30px;
    margin-bottom: 30px;
}