/* Section.css */

.product-list {
  padding: 20px;
  background-color: #f8f8f8;
  font-family: Arial, Helvetica, sans-serif;
}

.product-list h2 {
  font-size: 24px;
  color: #333;
  text-align: left;
  margin-bottom: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.product {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
  text-align: left;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
  display: block; /* Para centrar la imagen */
  margin-left: auto; /* Para centrar la imagen */
  margin-right: auto; /* Para centrar la imagen */
}

.product p {
  margin: 10px 0;
  color: #666;
}

.price {
  font-size: 18px;
  color: #e74c3c;
  font-weight: bold;
}

.details-link {
  display: inline-block;
  margin-top: 10px;
  color: #3498db;
  text-decoration: none;
}

.details-link:hover {
  text-decoration: underline;
}
